- // yaa Hagh
- // use single dash to represent comments

doctype html
- // xml strict transitional: are used for other doctype files

- // use indents to create nesting elements
html
    head
    body
        h1 welcome to the pug!
        p preprocessor for html