- // yaa Hagh
- // use single dash to represent comments

doctype html
- // xml strict transitional: are used for other doctype files

- // use indents to create nesting elements
html
    head
    body
        - // use  #  followed tag names with id name to set id
        h1#pageTitle welcome to the pug!
        
        - // use  .  followed tag names with class name to set class
        p.description main title
        p.description semi main title
        
        - // use dot followed tag names to write multiline texts
        p.
            preprocessor for html. 
            so funny

        - // writing .class #id names without tag, will create a div
        div.box
        .box
        #singleBox