- // yaa Hagh
- // use single dash to represent comments

doctype html
- // xml strict transitional: are used for other doctype files

- // use indents to create nesting elements
- // use dot followed tag names to write multiline texts
- // use  #  followed tag names to give a tag an id
html
    head
    body
        h1#pageTitle welcome to the pug!
        p.
            preprocessor for html. 
            so funny
        ul
            li item 1
            li item 2