- // yaa Hagh
- // use single dash to represent comments

doctype html
- // xml strict transitional: are used for other doctype files

- // use indents to create nesting elements
- // use dot followed tag names to write multiline texts
- // use  #  followed tag names with id name to set id
- // use  .  followed tag names with class name to set class
html
    head
    body
        h1#pageTitle welcome to the pug!
        
        p.description main title
        p.description semi main title
        p.
            preprocessor for html. 
            so funny
        ul
            li item 1
            li item 2
